.topo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  margin-left: 240px; 
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 100px;
}

table {
  width: 80%;
   background: #00030f8b;
    box-shadow: 0 0 10px #ffffff46;
  border-radius: 5px;
  padding: 10px;
  border-collapse: collapse;
  margin: 0 auto; /* centraliza a tabela */
}

th, td {
  padding: 12px;
  text-align: center;
  color: #fff;
}

/* AQUI empurramos TODO o conteúdo pra direita */
.container {
  margin-left: 210px;  /* distância perfeita da sidebar */
  padding: 20px;
}

.container h2 {
  text-align: center;
}

button {
  color: ;
}



