/* ======= GERAL ======= */
body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* ======= TOPO ======= */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logout-btn {
  background: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* ======= CONTEÚDO ======= */
.container {
  max-width: 900px;
  margin: 0 auto;
}

/* ======= CARDS ======= */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.272);
}

h2, i {
  margin-right: 8px;
  color: #000000;
}

/* ======= FORMULÁRIO ======= */
.form {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-salvar {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* ======= TABELA ======= */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th, table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* ======= BOTÕES AÇÕES ======= */
.acao-btn {
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  color: white;
}

.btn-editar {
  background: #3498db;
}

.btn-excluir {
  background: #e74c3c;
}

/* ======= BOTÃO WHATSAPP ======= */
.btn-whats {
  background: #25D366;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
