/* DASHBOARD */
.dashboard {
  padding: 40px;
}

/* TITULOS */
#title-dash h1 {
  color: #ffffff;
}

#title-dash p {
  color: #F5DEB3;
}

.dashboard h1 {
  font-size: 34px;
  margin: 0;
  text-align: center;
}

.sub {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
}

/* GRID DE CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  gap: 25px;

  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* CARD */
.card {
  background: #0000006d;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
  border: 1px solid rgba(212, 175, 55, 0.3);
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* CARD MOBILE */
@media (max-width: 768px) {
  .card {
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 14px;
    border-radius: 10px;
  }
}

/* ANIMAÇÃO */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s forwards;
}

.fade-slide.delay1 {
  animation-delay: 0.2s;
}

.fade-slide.delay2 {
  animation-delay: 0.4s;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LISTAS */
.card ul {
  padding-left: 18px;
}

/* BOTÃO EDITAR */
.btn-editar {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #1a1a1a;
  color: #000000;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-editar:hover {
  background: #b9962e;
  transform: scale(1.05);
}

/* CARD GRÁFICO */
.graph-card {
  grid-column: span 2;
}

@media (max-width: 1024px) {
  .graph-card {
    grid-column: span 1;
  }
}

/* CONTATOS */
.contatos-lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #D4AF37;
  padding: 12px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  transition: 0.2s ease;
}

.contato-item i {
  font-size: 20px;
}

.contato-item:hover {
  background: #B8860B;
  transform: translateX(3px);
}
