

/* DASHBOARD */
.dashboard {
  padding: 40px;
}


#title-dash , p {
  color: #F5DEB3;
}

#title-dash , h1 {
  color: #ffffff;
}
  .sub {
     text-align: center;
  }

.dashboard h1 {
  font-size: 34px;
  margin: 0;
  text-align: center;
}

.dashboard .sub {
  opacity: 0.7;
  margin-bottom: 30px;
}

/* CARDS GRID */
.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 25px;

  max-width: 1500px;   /* limite máximo */
  width: 100%;         /* ocupa o container */
  margin: 0 auto;      /* centraliza */

  /* remove altura fixa */
}


/* CARD */
.card {
  background: #0000006d;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
  border: 1px solid rgba(212, 175, 55, 0.3);
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ANIMAÇÃO FADE + SLIDE */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide .8s forwards;
}

.fade-slide.delay1 { animation-delay: .2s; }
.fade-slide.delay2 { animation-delay: .4s; }

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LISTA */
.lista-favoritos {
  padding-left: 20px;
}


/* Botão editar */
.btn-editar {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #1a1a1a;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.btn-editar:hover {
    background: #b9962e;
  transform: scale(1.05);
}

/* Lista interna */
.card ul {
  padding-left: 18px;
}

/* Gráfico ocupa largura total */
.graph-card {
  grid-column: span 2;
}

.contatos-lista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.contato-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #D4AF37;
    padding: 12px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: 0.2s ease;
}

.contato-item i {
    font-size: 20px;
}

.contato-item:hover {
  background: #B8860B;
  transform: translateX(3px);
}