/* MENU LATERAL */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: #000000;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 2px 0 10px rgba(48, 48, 48, 0.4);
}

.sidebar .logo {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}

.sidebar a {
  color: #eee;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #5d5d5d;
  transform: translateX(5px);
}

.sidebar .logout {
  margin-top: 0px;
  background: #cc3333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar .logout:hover {
  background: #d30000;
}

/* EMPURRAR O CONTEÚDO */
body {
  margin-left: 240px;
}


/* DASHBOARD */
.dashboard {
  padding: 40px;
}

#title-dash , p {
  color: #ffffff;
}

#title-dash , h1 {
  color: #ffffff;
}

.dashboard h1 {
  font-size: 34px;
  margin: 0;
}

.dashboard .sub {
  opacity: 0.7;
  margin-bottom: 30px;
}

/* CARDS GRID */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: #00030f6d;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ffffff46;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ANIMAÇÃO FADE + SLIDE */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide .8s forwards;
}

.fade-slide.delay1 { animation-delay: .2s; }
.fade-slide.delay2 { animation-delay: .4s; }

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LISTA */
.lista-favoritos {
  padding-left: 20px;
}


/* Botão editar */
.btn-editar {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #1a1a1a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.btn-editar:hover {
  background: #ffffff;
  color: black;
}

/* Lista interna */
.card ul {
  padding-left: 18px;
}

/* Gráfico ocupa largura total */
.graph-card {
  grid-column: span 2;
}


.contatos-lista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.contato-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f4f4f4;
    padding: 12px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: 0.2s ease;
}

.contato-item i {
    font-size: 20px;
}

.contato-item:hover {
    background: #e2e2e2;
    transform: translateX(3px);
}
