/* RESET / BASE */
body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
   font-family: 'Montserrat', sans-serif;
  padding-top: 90px; /* espaço para header fixo */
}

/* Ajuste para celular */
@media (max-width: 480px) {
  body {
    padding-top: 110px;
  }
}

input,
button,
select {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

/* BOTÕES */
button {
  background: #D4AF37;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

button:hover {
  background: #B8860B;
  color: #ffffff;
}

/* CANVAS BACKGROUND */
#meshCanvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* HEADER */
.header {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  width: 95%;
  max-width: 620px;
  height: 70px;

  padding: 0 20px;
  background: rgba(0, 0, 0, 0.4);

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  border-radius: 12px;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
  border: 1px solid rgba(212, 175, 55, 0.3);

  backdrop-filter: blur(10px);
  z-index: 1000;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

/* NAV */
.header nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.header nav a {
  position: relative;
  color: #F5DEB3;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0;
}

/* Linha dourada no hover */
.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #D4AF37;
  transition: width 0.3s ease;
}

.header nav a:hover::after {
  width: 100%;
}

/* BOTÃO LOGOUT */
.header .logout {
  background: #D4AF37;
  color: #000000;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.header .logout:hover {
  background: #B8860B;
}

/* HEADER RESPONSIVO */
@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 12px 15px;
  }

  .header nav {
    gap: 15px;
  }

  .header nav a {
    font-size: 14px;
  }

  .header .logout {
    padding: 6px 12px;
    font-size: 14px;
  }
}
