body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
   padding-top: 80px; 

}

input, button, select {
  padding: 10px;
  border-radius: 6px; 
  border: none;
}

button {
  background: #D4AF37;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;

}

button:hover {
  background: #B8860B;
  color: rgb(255, 255, 255);
}


#meshCanvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  width: 620px;              /* largura correta */
  height: 70px;

  padding: 0 20px;
  background: rgba(0, 0, 0, 0.4);

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  border-radius: 12px;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
  border: 1px solid rgba(212, 175, 55, 0.3);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
}

.header nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.header nav a {
  position: relative;
  color: #F5DEB3;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0;
}

/* linha dourada no hover */
.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #D4AF37;
  transition: width 0.3s ease;
}

.header nav a:hover::after {
  width: 100%;
}


/* BOTÃO LOGOUT */
.header .logout {
  background: #D4AF37;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.header .logout:hover {
  background: #B8860B;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header {
    width: 95%;
    padding: 0 15px;
  }

  .header nav a {
    font-size: 16px;
  }
}

/* CARDS GRID */
.cards {
  display: grid;
 grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: #00030f6d;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ffffff46;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ANIMAÇÃO FADE + SLIDE */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide .8s forwards;
}

.fade-slide.delay1 { animation-delay: .2s; }
.fade-slide.delay2 { animation-delay: .4s; }

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
