body {
  margin: 0;
  padding: 0;
  background: #000511;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

input, button, select {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;

}

button:hover {
  background: #ffffff;
  color: black;
}


#snowCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
