body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;  
}

.container {
  width: 90%;
  margin: 0;
}

input, button, select {
  padding: 10px;
  border-radius: 6px; 
  border: none;
}

button {
  background: #D4AF37;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;

}

button:hover {
  background: #B8860B;
  color: rgb(255, 255, 255);
}


#meshCanvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}


/* MENU LATERAL */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background:transparent;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
       box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
    border: 1px solid rgba(212, 175, 55, 0.3);
}

.sidebar .logo {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}

.sidebar a {
  color: #F5DEB3;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
  transition: 0.3s;
  text-align: center;
}

.sidebar a:hover {
  color: #5d5d5d;
  transform: translateX(5px);
}git status


.sidebar .logout {
  margin-top: 0px;
  background: #D4AF37;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar .logout:hover {
  background: #B8860B;
}




/* CARDS GRID */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: #00030f6d;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ffffff46;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ANIMAÇÃO FADE + SLIDE */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide .8s forwards;
}

.fade-slide.delay1 { animation-delay: .2s; }
.fade-slide.delay2 { animation-delay: .4s; }

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* BASE RESPONSIVA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Containers gerais */
.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}
