body {
  margin: 0;
  padding: 0;
  background: #000511;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: 0;
}

input, button, select {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;

}

button:hover {
  background: #ffffff;
  color: black;
}


#snowCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* MENU LATERAL */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background: #000000;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 2px 0 10px rgba(53, 52, 52, 0.521);
}


.sidebar .logo {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}

.sidebar a {
  color: #eee;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #5d5d5d;
  transform: translateX(5px);
}

.sidebar .logout {
  margin-top: 130px;
  background: #cc3333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar .logout:hover {
  background: #d30000;
}
