.login-box {
  width: 330px;
  height: 300px;
  margin: 150px auto;
  background: #030307;
  padding: 40px;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px #dad7d743;
}

input {
  width: 90%;
  align-items: center;
  margin-bottom: 15px;
}

img {
  height: 100px;
  width: 100px;
}

.link a {
  color: white;
  text-decoration: none;
}

button:hover {
    background: #b9962e;
  transform: scale(1.05);
  color: black;
}