/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container principal */
.login-box {
  width: 100%;
  max-width: 400px;
  min-height: 520px;
  margin: 100px auto;
  background: #030307;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(218, 215, 215, 0.25);
}

/* Logo */
.login-box img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Botão */
.login-box button {
  width: 100%;
  padding: 12px;
  background: #D4AF37;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover botão */
.login-box button:hover {
  background: #b9962e;
  transform: scale(1.03);
  color: #000;
}

/* Links */
.link {
  margin-top: 15px;
}

.link a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.link a:hover {
  opacity: 1;
}


@media (max-width: 480px) {
  .login-box {
    margin: 60px 15px;
    padding: 30px 20px;
  }

  .login-box img {
    width: 80px;
    height: 80px;
  }
}
