/* AJUSTE DO CONTAINER */
.container {
  margin-left: 240px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* CARD EM DUAS COLUNAS */
.profile-card {
  width: 800px;
  padding: 35px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;

  border-radius: 20px;
  background: rgba(17, 24, 39, 0.55);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(212, 175, 55, 0.25);
  box-shadow: 0 0 25px rgba(0,0,0,0.5);

  animation: fade 0.9s ease forwards;
  opacity: 0;
}

@keyframes fade {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

/* FOTO */
.photo-area {
  text-align: center;
}

.photo-area img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;

  border: 4px solid #D4AF37;
  box-shadow: 0 0 15px rgba(212,175,55,0.5);
}

/* BOTÃO DE UPLOAD */
.upload-btn {
  display: block;
  margin-top: 15px;
  background: linear-gradient(90deg, #D4AF37, #B8860B);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.upload-btn input {
  display: none;
}

/* ÁREA DE INFO */
.info-area h2 {
  color: #D4AF37;
  margin-bottom: 10px;
  font-size: 24px;
}

.info-area p {
  font-size: 18px;
  margin: 12px 0;
  color: #f5deb3;
}

.info-area i {
  color: #D4AF37;
  margin-right: 6px;
}

.info-area strong {
  color: #fff;
}

/* BOTÃO EDITAR */
.info-area button {
  margin-top: 20px;
  padding: 12px 20px;
  width: 180px;

  background: linear-gradient(90deg, #D4AF37, #B8860B);
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.info-area button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(212,175,55,0.6);
}

/* =========================
       MODAL
========================= */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);

  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 350px;
  background: #111827;
  padding: 25px;
  border-radius: 15px;

  border: 1px solid rgba(212,175,55,0.3);
}

.modal-content h3 {
  color: #D4AF37;
  margin-bottom: 15px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;

  background: #222;
  border: 1px solid #444;
  border-radius: 8px;
  color: #fff;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons .save {
  width: 48%;
  padding: 10px;
  background: #D4AF37;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.modal-buttons .close {
  width: 48%;
  padding: 10px;
  background: #444;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
}
